body {
    margin: 0;
    font-family: sans-serif;
    font-size: 120%;
    color: #333;
}

main {
    margin: 200px auto;
    width: 100%;
    max-width: 1000px;
}

p {
    line-height: 160%;
}

h1 {
    border-bottom: 10px solid #DDD;
    margin-bottom: 50px;
}

figure {
    margin: 100px 0;
}

figcaption {
    color: #666;
}